.bg {
  background-color: #cbcbcb;
}

.header {
  background-image: url("../assets/header.png");
  background-size: 6800px 300px;
  height: 120px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}