.App {
  background-image: url("../asset/pikachu-background.jpg");
  background-size: cover;
  height: 100%;
}

.header {
  background-image: url("../asset/header.png");
  background-size: cover;
  height: 100%;
}