.App {
  background-image: url("../../assets/pikachu-background.jpg");
  background-size: cover;
  height: 100%;
}

.header {
  background-image: url("../../assets/header.png");
  background-size: cover;
  height: 100%;
}