.box {
    background-color: #dbdbdb;
    border: 1px solid #9e9e9e;
    width: 80%;
    max-width: 1000px;
    min-width: 700px;
    height: 70px;
    margin: 20px auto;
    overflow: hidden;
}

.box:hover{
    cursor: context-menu;
}

.id{
    color: #c7c7c7;
    font-size: 125px;
    font-weight: bold;
    line-height: 70px;
    display: inline-block;
    width: 5px;
}

.sprite{
    display: inline-block;
    vertical-align: top;
    margin-top: -13px;
}

.name{
    font-family: PokemonGb;
    letter-spacing: -1px;
    display: inline-block;
    margin-top: 23px;
    vertical-align: top;
    width: 170px;
}

.weight {
    font-family: PokemonGb;
    letter-spacing: -2px;
    display: inline-block;
    margin-top: 23px;
    vertical-align: top;
    width: 90px
}

.types {
    font-family: PokemonGb;
    letter-spacing: -1px;
    display: inline-block;
    margin-top: 23px;
    vertical-align: top;
}
